
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Scoreboard Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
      function updateScoreboard() {
        $.ajax({
          url: '/update-data-startlist',
          type: 'GET',
          success: function(data) {
            $('.main').html(data);
          },
          error: function() {
            console.log('Error fetching data');
          }
        });
      }
    
      // call the updateScoreboard function initially on page load
      updateScoreboard();
    
      // call the updateScoreboard function every 3 seconds
      setInterval(updateScoreboard, 3000);
    });
    </script>
  </head>
  <body>
    <div class="main">
      <p>asd</p>
    </div>
  </body>
</html>