<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race Information</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <style>
        .title-container {
            text-align: center;
            margin-bottom: 20px;
        }
        .driver-info-header, .driver-info-row {
            display: flex;
            padding: 10px;
            border: 1px solid #ddd;
        }
        .driver-info-header {
            background-color: #f7f7f7;
            font-weight: bold;
        }
        .driver-info-row:nth-child(even) {
            background-color: #f2f2f2;
        }
        .col {
            flex: 1;
            text-align: center;
            padding: 0 5px;
        }
        .driver-data-container {
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 title-container">
                <h1 id="title1"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="driversInfo">
                    <div class="driver-info-header row">
                        <div class="col">Name</div>
                        <div class="col">Vehicle</div>
                        <div class="col">Points</div>
                        <div class="col">Finish Time</div>
                        <div class="col">Penalty</div>
                    </div>
                    <!-- Driver stats will be appended here -->
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- Header for the right side table -->
                <div class="driver-info-header row">
                    <div class="col">Name</div>
                    <div class="col">Total Points</div>
                    <div class="col">Best Time</div>
                </div>
                <div id="driver_data" class="driver-data-container">
                    <!-- Data will be appended here -->
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('http://192.168.1.50:7777/api/get_current_startlist_w_data')
                .then(response => response.json())
                .then(data => {
                    get_current_event_stats(data);
                    get_driver_data_right(data);
                })
                .catch(error => console.error('Error fetching data:', error));
        });

        function get_current_event_stats(data) {
            const title1 = document.getElementById('title1');
            title_1 = data[0]["race_config"]["TITLE_1"];
            title_2 = data[0]["race_config"]["TITLE_2"]; 
            heat = data[0]["race_config"]["HEAT"];
            title1.textContent = title_1 + " " + title_2 + " " + "HEAT" + " " + heat;

            const driversInfo = document.getElementById('driversInfo');
            $.ajax({
                url: `http://192.168.1.50:7777/api/get_timedata_cross/?title_1=${title_1}&title_2=${title_2}&heat=${heat}`,
                type: 'GET',
                dataType: 'json', 
                success: function(res) {
                    append_current_driver_stats_html(res);
                }
            });
        }

        function get_driver_data_right(data) {
            title_2 = data[0]["race_config"]["TITLE_2"]; 
            url = title_2.toUpperCase().includes("FINALE") ? "http://192.168.1.50:7777/api/driver-points?title_2=Finale" : "http://192.168.1.50:7777/api/driver-points";

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json', 
                success: function(res) {
                    append_current_right_stats_html(res);
                }
            });
        }

        function append_current_driver_stats_html(data) {
            const driversInfo = document.getElementById('driversInfo');
            data.forEach(item => {
                const driverRow = document.createElement('div');
                driverRow.classList.add('driver-info-row', 'row');
                driverRow.innerHTML = `
                    <div class="col">${item.first_name} ${item.last_name}</div>
                    <div class="col">${item.snowmobile}</div>
                    <div class="col">${item.points}</div>
                    <div class="col">${item.finishtime}</div>
                    <div class="col">${item.penalty}</div>
                `;
                driversInfo.appendChild(driverRow);
            })
        }

        function append_current_right_stats_html(data) {
            const targetDiv = document.getElementById('driver_data');

            data.forEach(item => {
                const driverRow = document.createElement('div');
                driverRow.classList.add('driver-info-row', 'row');
                driverRow.innerHTML = `
                    <div class="col">${item.first_name} ${item.last_name}</div>
                    <div class="col">${item.total_points}</div>
                    <div class="col">${item.lowest_finishtime}</div>
                `;
                targetDiv.appendChild(driverRow);
            })
        }
    </script>
</body>
</html>
