{% extends 'layout.html' %}
{% block content %}
<h3>Global Config</h3>

<form method="post">
    {{ form.hidden_tag() }}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for config in global_config %}

            <tr>
                <td>Session Name</td>
                <td>{{ form.session_name(value=config.session_name) }}</td>
            </tr>
            <tr>
                <td>Project Directory</td>
                <td>{{ form.project_dir(value=config.project_dir) }}</td>
            </tr>
            <tr>
                <td>Database location</td>
                <td>{{ form.db_location(value=config.db_location) }}</td>
            </tr>
            <tr>
                <td>Event Directory</td>
                <td>{{ form.event_dir(value=config.event_dir) }}</td>
            </tr>
            <tr>
                <td>Whitelist String</td>
                <td>{{ form.wl_title(value=config.wl_title) }}</td>
            </tr>
            <tr>
                <td>Use whitelist?</td>
                <td><input type="checkbox" name="wl_bool" {% if config.wl_bool %}checked{% endif %}></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {{ form.submit() }}
</form>
{% endblock %}