{% extends 'admin/layout.html' %}
{% block content %}

<style>
    /* Additional custom styles can be added here */
</style>

<script>
    function toggleSortingFields() {
        var checkBox = document.getElementById("enable_sorting");
        var search1 = document.getElementById("search_string1");
        var search2 = document.getElementById("search_string2");

        if (checkBox.checked == true) {
            search1.style.display = "table-row";
            search2.style.display = "table-row";
        } else {
            search1.style.display = "none";
            search2.style.display = "none";
        }
    }

    function confirmAction() {
        return confirm("ALL CURRENT RACE DATA WILL BE RELOADED");
    }
</script>

<h3>Global Config</h3>

<form method="post">
    {{ form.hidden_tag() }}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for config in global_config %}
                <tr>
                    <td>Session Name</td>
                    <td><input type="text" class="form-control" name="session_name" value="{{ config.session_name }}"></td>
                </tr>
                <tr>
                    <td>Project Directory</td>
                    <td><input type="text" class="form-control" name="project_dir" value="{{ config.project_dir }}"></td>
                </tr>
                <tr>
                    <td>Database location</td>
                    <td><input type="text" class="form-control" name="db_location" value="{{ config.db_location }}"></td>
                </tr>
                <tr>
                    <td>Event Directory</td>
                    <td><input type="text" class="form-control" name="event_dir" value="{{ config.event_dir }}"></td>
                </tr>
                <tr>
                    <td>Whitelist String</td>
                    <td><input type="text" class="form-control" name="wl_title" value="{{ config.wl_title }}"></td>
                </tr>
                <tr>
                    <td>Use whitelist?</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="wl_bool" {% if config.wl_bool %}checked{% endif %}>
                        </div>
                    </td>
                </tr>

                <tr id="search_string1" style="{% if not config.enable_sorting %}display: none{% endif %}">
                    <td>Search String 1</td>
                    <td><input type="text" class="form-control" name="search_string1" value="{{ config.search_string1 }}"></td>
                </tr>
                <tr id="search_string2" style="{% if not config.enable_sorting %}display: none{% endif %}">
                    <td>Search String 2</td>
                    <td><input type="text" class="form-control" name="search_string2" value="{{ config.search_string2 }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {{ form.submit(class="btn btn-primary") }}
    <input type="submit" name="reload" value="Reload" class="btn btn-warning" onclick="return confirmAction()">
    <input type="submit" name="update" value="Update" class="btn btn-success">
</form>

{% endblock %}
