{% extends 'admin/layout.html' %}
{% block content %}

<style>
    /* Additional custom styles can be added here */
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        toggleCrossWhitelist();
    });
    function toggleSortingFields() {
        var checkBox = document.getElementById("enable_sorting");
        var search1 = document.getElementById("search_string1");
        var search2 = document.getElementById("search_string2");

        if (checkBox.checked == true) {
            search1.style.display = "table-row";
            search2.style.display = "table-row";
        } else {
            search1.style.display = "none";
            search2.style.display = "none";
        }
    }

    function confirmAction() {
        return confirm("ALL CURRENT RACE DATA WILL BE RELOADED");
    }


    function toggleModal() {
    var modal = document.getElementById("crossProfileModal");
    modal.style.display = modal.style.display === "none" ? "block" : "none";
    }

    function closeModal() {
        toggleModal();
        // Additional logic to handle the checkbox state if needed
    }

    function toggleCrossWhitelist() {
        var crossCheckbox = document.getElementById("cross_checkbox");
        var wlCrossTitleInput = document.getElementById("wl_cross_title");

        // Disable the input field if the checkbox is not checked
        if (!crossCheckbox.checked) {
            wlCrossTitleInput.disabled = true;
        } else {
            wlCrossTitleInput.disabled = false;
        }
    }
    



</script>

<h3>Global Config</h3>

<form method="post">
    {{ form.hidden_tag() }}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for config in global_config %}
                <tr>
                    <td>Session Name</td>
                    <td><input type="text" class="form-control" name="session_name" value="{{ config.session_name }}"></td>
                </tr>
                <tr>
                    <td>Project Directory</td>
                    <td><input type="text" class="form-control" name="project_dir" value="{{ config.project_dir }}"></td>
                </tr>
                <tr>
                    <td>Database location</td>
                    <td><input type="text" class="form-control" name="db_location" value="{{ config.db_location }}"></td>
                </tr>
                <tr>
                    <td>Event Directory</td>
                    <td><input type="text" class="form-control" name="event_dir" value="{{ config.event_dir }}"></td>
                </tr>
                <tr>
                    <td>Whitelist Filter</td>
                    <td><input type="text" class="form-control" name="wl_title" value="{{ config.wl_title }}" placeholder="Optional"></td>
                </tr>
                <tr>
                    <td>Exclude Filter</td>
                    <td><input type="text" class="form-control" name="exclude_title" value="{{ config.exclude_title }}" placeholder="Optional"></td>
                </tr>
                <tr>
                    <td>Use whitelist?</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="wl_bool" {% if config.wl_bool %}checked{% endif %}>
                            <i class="form-text text-muted">Whitelisting based on the title of the event (should be used)</i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Keep order event order?</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="keep_previous_sort" {% if config.keep_previous_sort %}checked{% endif %}>
                            <i class="form-text text-muted">This will make it so the order of the event stay unchanged after reload.</i>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>Snowcross/Watercross?</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="cross" id="cross_checkbox" {% if config.cross %}checked{% endif %} onclick="toggleCrossWhitelist();">
                            <i class="form-text text-muted">If enabled, make sure you have configured the <a href="/admin/cross_config" class="your-optional-class-for-styling">cross profile</a> <b>before</b> reloading</i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Autocommit changes?</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="autocommit" {% if config.autocommit %}checked{% endif %}>
                            <i class="form-text text-muted">Will automatically refresh the database and look for changes (can cause issues)</i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Cross Whitelist</td>
                    <td><input type="text" class="form-control" name="wl_cross_title" id="wl_cross_title" value="{{ config.wl_cross_title }}" placeholder="Additional filter (Optional)"></td>
                </tr>
                <tr id="search_string1" style="{% if not config.enable_sorting %}display: none{% endif %}">
                    <td>Search String 1</td>
                    <td><input type="text" class="form-control" name="search_string1" value="{{ config.search_string1 }}"></td>
                </tr>
                <tr id="search_string2" style="{% if not config.enable_sorting %}display: none{% endif %}">
                    <td>Search String 2</td>
                    <td><input type="text" class="form-control" name="search_string2" value="{{ config.search_string2 }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ form.submit(class="btn btn-primary") }}
    <input type="submit" name="reload" value="Reload" class="btn btn-warning" onclick="return confirmAction()">
    <input type="submit" name="update" value="Update" class="btn btn-success">
</form>

{% endblock %}
